@{
    ViewData["Title"] = "Volatire Systems Monitoring";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Volatire Systems Monitoring</title>


</head>
<body>

    <div class="text-center">
        <h3>Welcome to Our Capstone</h3>
        <a class="btn btn-primary" asp-controller="Customers" asp-action="Register">Sign Up</a>
        <a class="btn btn-primary" asp-controller="Logins" asp-action="Login">Login</a>

    </div>



</body>
</html>