@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h3>Welcome to Our Capstone</h3>
    <a class="btn btn-primary" asp-action="signUp">Sign Up</a>
   

</div>