
@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank you</title>
</head>
<body>
    <p>
        <h1>Thank you,for registiring</h1>WW
        <button class="button"><a class="btn btn-primary" asp-action="index">Return To Login</a></button>
        <p>Click <a asp-action="ThanksRegistration">here</a> to see the registered students</p>

</body>
</html>
